<h3>Non Technical Books</h3>
<table border="1" style="width:50%">
    <tr>
        <td style="width:20%;text-align:center"><b>Name</b></td>
        <td style="width:20%;text-align:center"><b>Author Name</b></td>
        <td style="width:20%;text-align:center"><b>Price</b></td>
        <td style="width:20%;text-align:center"><b>Stocks remaining</b></td>
        <td style="width:20%;text-align:center"></td>
    </tr>
    <tr ng-repeat="book in nontechnical">
        <td style="text-align:center">{{book.name}}</td>
        <td style="text-align:center">{{book.author}}</td>
        <td style="text-align:center">{{book.price}}</td>
        <td style="text-align:center">{{book.stock}}</td>
        <td style="text-align:center"><input type="button" ng-disabled="(checkstocknontechnical(book.name)&&book.available)" ng-click="togglenontechnical(book.name)" value="{{book.available?'Add to cart':'Remove from cart'}}"></td>
    </tr>
</table>