<html ng-app="MovingAverageapp" ng-controller="avgCtrl">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="Moving_average_promises.js"></script>
    <body>
        <h1 style="text-align:center">Moving Average</h1><hr><br>
        
        <div>The datas are</div>
        <span ng-repeat="data in Mov_avg.datas">{{data}} &nbsp;</span><br><br>
        
        <div>Period : {{Mov_avg.period}}</div><br><br>
        
        <div>The moving averages are </div>
        <span ng-repeat="num in result_array">{{num}} &nbsp;</span>
    </body>
</html>