<html ng-app="MovingAverageapp" ng-controller="parentCtrl">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="Moving_Average_Multi_ctrl.js"></script>
    <body>
        <h1 style="text-align:center">Moving Average</h1><hr><br>
        
        <div>The datas are</div>
        <span ng-repeat="data in Mov_avg.datas">{{data}} &nbsp;</span><br><br>
        
        <div>Period : {{Mov_avg.period}}</div><br><br>
        
        <div ng-controller="childCtrl">
            <div>The moving averages are </div>
            <span ng-repeat="num in childArray">{{num}} &nbsp;</span>
        </div>
    </body>
</html>