<!doctype html>
<html ng-app="emailapp">
    <body style="text-align:center">
        <h1>Email Validation - 2</h1>
        <hr><br>
        <div ng-controller="emailCtrl">
            <form name="form" ng-init="count=1">
                <div>Enter your Email id :</div>
                <br><br>
                
                <!-- Text box to enter Email id -->
                <input type="email" name="id" ng-model="inputs" required ng-change="hidestatus()">
                <br>
                <span style="color:red" ng-show="form.id.$invalid && form.id.$dirty && count==1">Email is invalid</span>
                <br><br>
                
                <!-- Submit button -->
                <button ng-disabled="form.id.$invalid" ng-click="add(inputs)" formnovalidate>Submit</button>
                <br><br>
                <span style="color:green" ng-show="count === 0">Email submitted successfully</span>
                <br><br>
            </form>
            <br><br>
            
            <!-- Table to display the list of email ids -->
            <table style="border: 1px solid black;">
                <tr>
                    <td width="50" style="border: 1px solid black ;">S.no</td>
                    <td width="400" style="border: 1px solid black ;">List of Email id's</td>
                </tr>
                <tr ng-repeat="item in items">
                    <td width="50" style="border: 1px solid black ;">{{$index + 1}}</td>
                    <td width="400" style="border: 1px solid black ;">{{item.email}}</td>
                </tr>
            </table>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="email_validation_2.js"></script>
    </body>
</html>