<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body style="text-align:center">
        <div ng-app="">
        <h1>Adding Two numbers</h1>
        <hr><br>
            
        <span>Enter any number in the following two text boxes.</span>
        <br><br>
            
        <!-- First Text box -->
        <input type="number" ng-model="number1">
            
        +
            
        <!-- Second Text box -->
        <input type="number" ng-model="number2">
        <br><br>
            
        <div>The sum of the two number is :</div>
        <br><br>
            
        <!-- Result Div Tag -->
        <div>{{number1 + number2}}</div> <br>
        </div>
    </body>
</html>