<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="Students_filters.js"></script>
    <body ng-app="studentApp">
        <h1 style="text-align:center">Student List</h1>
        <hr><br>
        <div ng-controller="StudentController">
<!--  Text box used for searching operation -->
            <input type="text" ng-model= "searchText[type]" placeholder="Enter a name to search" ng-show="!status" /><br><br>
            
<!--  Radio button to select the preference of searching  -->
            <input type="radio" ng-model="type" value="firstName"/>First Name
            <input type="radio" ng-model="type" value="lastName"/>Second Name
            <br><br>
            
<!--  Table displaying the first and last name  -->
            <table style="border:1">
                <tr>
                    <td><b>S.No</b></td>
                    <td><b>First Name</b></td>
                    <td><b>Last Name</b></td>
                </tr>
                <tr ng-repeat="student in studentList | filter: searchText">
                    <td>{{$index + 1}}</td>
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                </tr>
            </table>
        </div> 
    </body>
</html>