<div>
    <ul>
        <li><a href="#technical">Display Technical Books</a></li>
        <li><a href="#nontechnical">Display Non Technical Books</a></li>
        <br><br>
        <div ng-view=""></div>
    </ul>
</div>