<br><br>
<button class="btn-lg btn-success" ng-click="generatePdf()">Download as PDF</button>
<br><br><br>
<div class="panel-group">
    <div class="panel panel-primary" ng-repeat="place in places">
        <div class="panel-heading">
            <label>{{place.categories[0].pluralName}} :<span class="venueName">{{place.name}}</span></label>
        </div>
        <div class="panel-body">
            <div class="left">
                <span ng-show="place.location.formattedAddress">
                    <b>Address</b><br>
                    <span id="address" ng-repeat="address in place.location.formattedAddress track by $index">
                        {{address}}<br>
                    </span>
                </span>
            </div>
            <span id="rating">
                <b>Rating :</b>{{place.rating || "NA"}}<br>
                <a href="{{place.url}}" target="_blank">{{place.url}}</a>
            </span>
        </div>
    </div>
</div>