<div style="text-align:center">
    <h1><b>Have a Safe Journey</b> </h1>
    <br><br>
    <div>Hi {{info.passengerName}}, Here is a final copy of your ticket</div><br><br>
    <label>Passenger Name :</label>&nbsp;{{info.address}}{{info.passengerName}} <br><br>
    <label>Passenger Age :</label>&nbsp;{{info.passengerAge}} <br><br>
    <label>Transport Name :</label>&nbsp;{{info.busName}}<br><br>
    <label>Bus Type :</label>&nbsp;{{info.busType}}<br><br>
    <label>Number of Seats :</label>&nbsp;{{info.seatsRequired}}<br><br>
    <label>Date of travel :</label>&nbsp;{{info.date}} <br><br>
    <label>Departing Time :</label>&nbsp;{{info.departingTime}}<br><br>
    <label>Ariving Time :</label>&nbsp;{{info.arivingTime}} <br><br>
    <label>From :</label>&nbsp;{{info.source}} <label>To :</label>&nbsp;{{info.destination}} <br><br>
</div>
