<div style="text-align:center">
    <label><h3>Select the Bus for your journey</h3></label>
    <br><br>
    
<!--  Table displaying the Bus information  -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <table class="table">
                <thead>
                    <td style="width:10%">S.No</td>
                    <td style="width:25%">Transport Name</td>
                    <td style="width:25%">Type</td>
                    <td style="width:13%">Departing Time</td>
                    <td style="width:13%">Arrival Time</td>
                    <td style="width:14%"></td>
                </thead>            
            </table>
        </div>
        <div class="panel-body">
            <table class="table"  ng-repeat="bus in buses">
                <thead>
                        <td style="width:10%">{{$index + 1}}</td>
                        <td style="width:25%">{{bus.name}}</td>
                        <td style="width:25%">{{bus.Type}}</td>
                        <td style="width:13%">{{bus.DepartingTime}}</td>
                        <td style="width:13%">{{bus.ArivingTime}}</td>
                        <td style="width:14%">
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" ng-click="checkAvailability(bus)">Check Availability</button>
                    </td>
                </thead>    
            </table>
        </div>
    </div>
    
<!--  Panel popping up for getting the user information  -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                
                <!--  Getting the number of seats from the user  -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Your Seats</h4>
                </div>
                
                <div class="modal-body">
                    <label>Transport Name : </label>&nbsp;{{bus.name}}<br>
                    <br><br>
                    
                    <span>Please select the Number of seats required</span>
                    <br><br>
                    
                    <select class="btn btn-default dropdown-toggle" ng-model="passenger.seatsRequired" ng-options="seat for seat in seats">
                        <option value="" style="display:none">Select</option>
                    </select>
                    <!--   Getting the information about the passenger  -->
                    <div ng-show="passenger.seatsRequired">
                        <select class="btn btn-default dropdown-toggle" ng-model="passenger.address">
                            <option value="" style="display:none">Select</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                        </select>
                        
                        <input class="form-control" type="text" ng-model="passenger.passengerName" placeholder="Passenger Name" style="width:40%;display:inline;" />
                        
                        <input class="form-control" type="number" min="1" max="99" ng-model="passenger.passengerAge" placeholder="Age" style="width:15%;display:inline;" />
                    </div>
                </div>
                
                <!--  Footer containing the submit and cancel buttons  -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="!passenger.address || !passenger.passengerName || !passenger.passengerAge" ng-click="submitInformation(passenger)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>