<div style="text-align:center">
    <label><b>Select the Source and Destination of your journey</b> </label>
    <br><br>
    
    <label style="color:green"><b>From :&nbsp;</b></label>
    
    
    <select class="btn btn-default dropdown-toggle" ng-model="sourceLocation" ng-options="location.source for location in locations" style="width:150px;">
        <option value="" style="color:grey;display:none">Select</option>
    </select>
    &nbsp;&nbsp;&nbsp;
    
    <label style="color:green"><b>To :&nbsp;</b></label>
    <select class="btn btn-default dropdown-toggle" ng-model="destinationLocation" ng-options="location for location in sourceLocation.destination" style="width:150px;">
        <option value="" style="color:grey;display:none">Select</option>
    </select>
    <br><br><br>
    
    <label style="color:green"><b>Date :&nbsp;</b></label>
    <input ng-model="date" type="date" min="{{minDate | date:'yyyy-MM-dd'}}">
    <br><br><br>
    
    <button type="button" class="btn btn-info" ng-disabled="!sourceLocation || !destinationLocation || !date" ng-click="submitLocation()">
      <span class="glyphicon glyphicon-search"></span> Search Buses
    </button>
</div>