<html>
<body ng-app="shopping" ng-init="count=1">
    
    <h1 style="text-align:center">Book Store</h1><hr><br>
    
<!-- First control for technical books-->
    <div ng-controller="techBookCtrl">
        <h2 style="text-align:center">Technical Books </h2>
        
        <div>Select any of the following category</div><br><br>
        
        <select ng-model="BookCategory" ng-change="changeBook()" ng-options="items as books for (books,items) in technicalBooks">
            <option value='' style = "display:none">Select</option>
        </select>
        &nbsp;&nbsp;
        
        <select ng-model="bookName" ng-disabled="!BookCategory" ng-options="book for book in BookCategory">
            <option value='' style = "display:none">Select</option>
        </select>
        &nbsp;&nbsp;
        
        <button ng-hide="!bookName" ng-disabled="!BookCategory || !bookName || !checkStatus()" ng-click="checkOut()">Checkout</button>
        <br><br>
        
    </div>  
    
<!-- Second control for non technical books-->
    <div ng-controller="nonTechBookCtrl">
        <h2 style="text-align:center">Non-Technical Books </h2>
        
        <div>Select any of the following category</div><br><br>
        
        <select ng-model="BookCategory" ng-change="changeBook()" ng-options="items as books for (books,items) in nontechnicalBooks">
            <option value='' style = "display:none">Select</option>
        </select>
        &nbsp;&nbsp;
        
        <select ng-model="bookName" ng-disabled="!BookCategory" ng-options="book for book in BookCategory">
            <option value='' style = "display:none">Select</option>
        </select>
        &nbsp;&nbsp;
        
        <button ng-hide="!bookName" ng-disabled="!BookCategory || !bookName  || !checkStatus()" ng-click="checkOut()">Checkout</button>
        <br><br>
        
    </div>  
    
<!-- Script files-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="Book_shop.js"></script>
</body>
</html>