<html ng-app="Mobileapp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="Mobile_phones.js"></script>
    <body ng-controller="mobileCtrl">
        <h1 style="text-align:center">Mobile Phone Specifications</h1>
        <hr><br>
        <table border="1" style="width:100%">
            <tr>
                <!-- Headers of the table -->
                <td style="width:25%">NAME</td>
                <td style="width:30%">IMAGE</td>
                <td style="width:15%">CAMERA</td>
                <td style="width:15%">GPS</td>
                <td style="width:15%">WIFI</td>
            </tr>
            <tr ng-repeat="item in items">
                
                <!--  Datas to be displayed in the table -->
                <td style="width:25%">{{item.name}}</td>
                <td style="width:30%"><img src="{{item.image}}" height="150px" width="150px"></td>
                <td style="width:15%">{{item.camera}}</td>
                <td style="width:15%">{{item.gps}}</td>
                <td style="width:15%">{{item.wifi}}</td>
            </tr>
        </table>
    </body>
</html>