<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <body style="text-align:center">
        <h1>Email Validation</h1>
        <hr><br>
        <form name=form ng-app="validate" ng-controller="emailCtrl" ng-init="count=1">
            <span>Enter your email id</span>
            <br><br>
            
            <!-- Text box to enter Email id -->
            <input type="email" ng-model="email" name="email" required ng-change="hidestatus()">
            <br>
            <span style="color:red" ng-show="form.email.$invalid && form.email.$dirty">Email is invalid</span>
            <br><br>
            
            <!-- Submit button -->
            <button ng-disabled="form.email.$invalid" ng-click="submitmail()">Submit</button>
            <br><br>
            <span style="color:green" ng-show="count === 0">Email submitted successfully</span>
            
        </form>
        <script src="email_validation.js"> </script>
    </body>
</html>