<html>
    <body>
        <h1 style="text-align:center">Password validation</h1>
        <hr>
        <br>
        <form name="form" ng-app="password" style="text-align:center" ng-init="status=false">
            <input type="text" placeholder="User Name"><br><br>
            <input name="password" type="password" ng-model="user.password" placeholder="Password" checkpassword><br>
            <span style="color:red" ng-show="form.password.$error.checkpassword&&form.password.$dirty">Password should contain only Numbers and Uppercase letters</span>
        </form>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="PasswordValidation_parser.js"></script>
    </body>
</html>