<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <body ng-app="studentApp">
        <h1 style="text-align:center">Student List</h1>
        <hr><br>
        <div ng-controller="StudentController">
            <input type="text" ng-model= "searchText" placeholder="Enter a name to search"/><br><br>
            <table style="border:1">
                <tr>
                    <td><b>S.No</b></td>
                    <td><b>First Name</b></td>
                    <td><b>Last Name</b></td>
                </tr>
                <tr ng-repeat="student in studentList | searchFor: searchText">
                    <td>{{$index + 1}}</td>
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                </tr>
            </table>
        </div>
        <script src="Student_custom_filter.js"></script>
    </body>
</html>