<html ng-app="bookapp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <body ng-controller="BookController">
        <h1 style="text-align:center">Book Shop</h1>
        <hr><br>
        <form name="form" style="text-align:center">
            <input type="text" placeholder="Enter a Book Name" ng-model="bookName"><br><br>
            <input type="submit" value="Search" ng-click="searchBook()">
        </form>
        <br><br>
        <div style="text-align:center" ng-show="showDetails">
            <label><b>Name : </b></label>{{book.name}}<br><br>
            <label><b>Author : </b></label>{{book.author}}<br><br>
            <label><b>Price : </b></label>{{book.price}}<br><br>
        </div>
        <form name="addForm" style="text-align:center" ng-show="getDetails" novalidate>
            <div style="color:green">{{bookName}} is unavailable in the shop.</div><br>
            <div style="color:green">Please provide Author name and Price to add it to the list.</div><br>
            <label><b>Author : </b></label><input type="text" name="author" ng-model="userBook.author" required> <br><br>
            <span style="color:red" ng-show="addForm.author.$invalid && addForm.author.$dirty">Field can't be left empty</span><br><br>
            <label><b>Price  : </b></label><input type="number" name="price" ng-model="userBook.price" required> <br><br>
            <span style="color:red" ng-show="addForm.price.$invalid && addForm.price.$dirty">Field can't be left empty and input must be a number</span><br>               <br>
            <input type="submit" value="Add" ng-disabled="addForm.author.$invalid || addForm.price.$invalid" ng-click="addBook()">
        </form>
        
        <script src="Bookshop_factory.js"></script>
    </body>
</html>